*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fs-12{font-size: 12px;}
.fs-16{font-size: 16px;}
.fs-25{font-size: 25px;}
.fs-60{font-size: 60px;}
.fs-80{font-size: 80px;}

.right-1{right:1%;}
.right-7{right:7%;}
.right-9{right:9%;}
.right-10{right:10%;}
.right-25{right:25%;}

.top-50{top: 50%;}

.bottom-2{bottom:2%;}

.start-7{left:7%;}
.start-10{left:10%;}
.start-30{left:30%;}

.h-40{height: 40%;}
.h-17{height: 17%;}

.w-209{width: 209px;}

.text-blue1{color: #1D3B60;}
.text-blue2{color: #3165A7 !important;}
.text-blue-light{color: #896fff;}

.pt-40{padding-top: 40px;}
.pt-80{padding-top: 80px;}
.pb-80{padding-bottom: 80px;}

.giv h1,
.spot h1,
.the div,
.the .by{
    line-height: 52px;
}

/* Page 1ST Start */
/* header section start */

/* header section end */

/* Banner Section Start */
.banner .giv p{
    letter-spacing: 2px;
}
.spot button{
    box-shadow: 5px 5px;
}
.spot button:hover{
    transition: all 0.5s;
    transition-delay: 1s;
    box-shadow: 0px 0px;
}
/* Banner Section End */

/* Under Section Start */

/* Under Section End */

/* Footer Section Start */

/* Footer Section End */
/* Page 1ST End */

/* Page 2ND Start */
/* Header Section Start */
.header .log-btn:hover{
    background-color: #000 !important;
    box-shadow: 5px 5px #fff;
    transition: all 0.5s;
}
/* Header Section End */

/* About Section Start */

/* About Section End */

/* Banner Section Start */

/* Banner Section End */
/* Opening Section Start */
.opening{height: 850px;}
/* Opening Section End */

/* Changing Section Start */
.changing{height: 350px;}
/* Changing Section End */

/* Meet Section Start */
.meet{
    height: 210px;
}
/* Meet Section End */

/* Image Section Start */
.imag img{
    width: 120px;
    height: 120px;
    transform: rotate(30deg);
}
.imag img:hover{
    /* width: 120px;
    height: 120px; */
    transform: rotate(15deg);
    transition: all 0.5s;
}
.imag .she{
    line-height: 2px;
}
/* Image Section End */
/* Belong Section Start */
.belong button{
    box-shadow: 7px 7px #000;
}
.belong button:hover{
    box-shadow: 0px 0px #000;
    transition: all 1s;
}
/* Belong Section End */
/* Table Section Start */
.tablecon table tr .tableh:hover{
    color: #fff;
    transition: all 0.5s;
    background-color: #000;
}
/* Table Section End */
/* Page 2ND End */

/* Media Section Start */
@media only screen and (max-width: 992px){
    .header{height: auto;}
    .header .spotl{
        font-size: 16px !important;
        margin: 5px 0px;
    }
    .header .disc{
        font-size: 16px !important;
        margin: 13px 0px;
    }
    .header button p{
        font-size: 8px;
    }
    .header .lisa{
        right: 15% !important;
    }
    .header .vrthree{
        right: 13%;
    }
    .navone{
        width: 28px;
        height: 32px;
    }
    .toggone{
        right: 3%;
        top: 1%;
    }
    .banner h1{
        font-size: 40px;
        line-height: 31px;
    }
    .banner .learnbtn{
        width: 37% !important;
        left: 70%;
        bottom: -16%;
        padding: 2px !important;
    }
    .banner .socialbtn{
        padding: 0px 0px !important;
    }
    .under p{
        font-size: 15px !important;
    }
    .under span{
        font-size: 15px !important;
    }
    .proudly span{
        font-size: 15px !important;
    }
    /* 2nd part */
    
}
/* Media Section End */